node_modules/
staticfiles/
static/admin/
venv/
.venv/

*.min.js
*.bundle.js

website/static/js/vendor/
website/static/vendor/
website/static/data/

website/static/js/Chart.bundle.min.js
website/static/js/bootstrap*.js
website/static/js/color-thief.js
website/static/js/jquery.*.js
website/static/js/velocity.min.js
website/static/js/notify.js
website/static/js/mtr-datepicker*.js
website/static/js/intro.js
website/static/js/lightbox*.js
website/static/js/video_call.js
website/static/js/organization_team_overview.js
website/static/data/flot-data.js
website/static/data/morris-data.js
